ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111111;
  }


div h1 {
    color: rgb(150, 4, 4);
}

div > h4 {
    color: rgb(150, 4, 4);
    font-size: larger;
}

h1 + p {
    color: teal;
    font-size: larger;

}

 #email:link {
    font-size: large;
    color: orangered;
}

body iframe a:visited {
    color: rgb(172, 58, 58);
}

#pizza-lovers:hover {
    color: maroon;
    font-size: 225%;
}

#tel:active {
    color: yellow;
}

#main-logo {
    margin-left: auto;
    width: auto;
    padding: 10px;
    
}
