

#header {
    grid-template-columns: 20% 40% 10% 10% 10% 10%;
    width: 100%;
    height: 10vh;
    display: grid;
    justify-items: center ;
    align-items: center;
    position: absolute;
}

.nav-bar {
    background-color: black;
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
 }
 .nav-bar:hover {
     font-size: 15px;
 }

#content-start{
    margin: 0;
    padding: 0;
}

#pizza-video {
    top: 25px;    
    padding: 12vh;
    left: 50%;
}

div h1 {
    color: rgb(150, 4, 4);
}

div > h4 {
    color: rgb(150, 4, 4);
    font-size: larger;
}

h1 + p {
    color: maroon;
    font-size: larger;
   
}

 #email:link {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: medium;
    color: rgb(250, 248, 248);
}

#review:hover {
    background-color: #111111;
    font-size: large;
}



#email:hover {
    background-color: #111111;
    font-size: large;
}

#tel:hover {
    background-color: #111111;
    font-size: large;
}

#tel:link {
    color: white;
}

#review:link {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: medium;
    color: rgb(250, 248, 248);
}

body iframe a:visited {
    color: rgb(172, 58, 58);
}

#pizza-lovers:hover {
    color: maroon;
    font-size: 225%;
}

#tel:active {
    color: yellow;
}

#main-logo {
    margin-left: auto;
    width: auto;
    padding: 10px;
    height: 5cm;    
}

.right {
    float: right;
    width: 400px;
    border-bottom: 3px solid #0a0c08;
    padding: 20px;
    text-align: center;
    font-family: fantasy;
    font-size: xx-large;
    
  }

  .right:hover{
    cursor: pointer;
    font-size: 50px;
  }

  body {
    background-color: lightsalmon;
  }